.borders{
    border: 1px solid red;
}

img{
    max-width: 100%;
    justify-content: center;
}

.top-right{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

.top-right1{
    width:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
hr{
    margin-top:10px;
}


.row{
    background: lightblue;
    max-height: 100%;
}

