<div class="row">
  <div class="col-1 dis1">
     <img src="../assets/Royal-Bank-of-Canada-Logo.png">
  </div>
  <div class="col dis2">
    <div class="row justify-content-end">
      <div class="col-1 top-right">
        <button class="btn btn-light">Search</button>
      </div>
      <div class="col-1 top-right">
        <button class="btn btn-light">Contact us</button>
      </div>
      <div class="col-1 top-right">
        <button type="button" class="btn btn-warning">Sign in</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="row justify-content-end">
    <div class="col-1 top-right1">
      <button class="btn btn-light">Accounts</button>
    </div>
    <div class="col-1 top-right1">
      <button class="btn btn-light">Credit Cards</button>
    </div>
    <div class="col-1  top-right1">
      <button class="btn btn-light">Mortgages</button>
    </div>
    <div class="col-1  top-right1 ">
      <button class="btn btn-light">Loans</button>
    </div>
    <div class="col-1  top-right1">
      <button class="btn btn-light">Investments</button>
      
    </div>
    <div class="col-1  top-right1">
      <button class="btn btn-light">Rewards</button>
      
    </div>
    <div class="col-1 top-right1">
      <button class="btn btn-light">Services</button>
    </div>
  </div>
</div>
